@model IEnumerable<HoliDayRental.Models.BienList>

@{
    ViewData["Title"] = "Visiter tous nos biens";
}

<h1 class="text-center text-primary">Visiter tous nos biens</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescCourte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePersonnes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescCourte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePersonnes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                <button class="btn btn-primary" onclick="window.location.href='./Bien/Details/@item.Id'">Détails</button>
            </td>
        </tr>
}
    </tbody>
</table>
